<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Placemark </th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Private</th>
      <th>Review</th>
    </tr>
  </thead>
  <tbody>
    {{#each placemark.details}}
      <tr>
        <td>
          {{title}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          {{state}}
        </td>
        <td>
          {{review}}
        </td>
        <td>
          <a href="/placemark/{{../placemark._id}}/deletedetail/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
